<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ajouter une inscription</title>
</head>
<body>
    <h1>Nouvelle Inscription</h1>

    <form th:action="@{/inscriptions/ajouter}" method="post" th:object="${inscription}">
        <label>Étudiant :</label>
        <select th:field="*{etudiant}">
            <option th:each="etudiant : ${etudiants}" 
                    th:value="${etudiant.id}" 
                    th:text="${etudiant.nom + ' ' + etudiant.prenom}">
            </option>
        </select>
        <br><br>

        <label>Semestre :</label>
        <select th:field="*{semestre}">
            <option th:each="sem : ${semestres}" 
                    th:value="${sem.id}" 
                    th:text="${sem.nomSemestre}">
            </option>
        </select>
        <br><br>

        <button type="submit">Enregistrer</button>
    </form>

    <br>
    <a th:href="@{/inscriptions/liste}">Voir la liste des inscriptions</a>
</body>
</html>
