<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head><title>Liste des prof</title></head>
<body>
    <h3>Liste des professeurs</h3>
    <a href="/profs/ajouterProf">ajout Prof</a>
    <table border="1">
        <tr><th>Id</th><th>Nom</th><th>Prenom</th><th>email</th><th>Date Embauche</th><th>Action</th></tr>
        <tr th:each="pf : ${prof}">
            <td th:text="${pf.id}">1</td>
            <td th:text="${pf.nom}">Nom</td>
            <td th:text="${pf.prenom}">prenom</td>
            <td th:text="${pf.email}">email</td>
            <td th:text="${pf.dateEmbauche}">date Embauche</td>
            <td>
                <a th:href="@{/profs/modifierProf/{id}(id=${pf.id})}">Modifier</a>
                 <a th:href="@{/profs/deleteProf/{id}(id=${pf.id})}" 
               onclick="return confirm('Confirmer la suppression ?')">Supprimer</a>
            </td>

        </tr>
    </table>
</body>
</html>